.App {
  background-color: #000000;
  text-align: center;
}

.ant-divider {
  width: 80%;
  height: 3px;
  background-color: white;
}

.card {
  width: 14rem;
  color: white;
  border: 0.1rem solid;
  border-radius: 0.9rem;
  height: 26rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: help;
}

.card-text {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.forest {
  width: 100%;
  height: auto;
  margin-top: -50px;
}

.buttonHolder {
  height: 10px;
  margin-bottom: 50px;
  margin-top: -40px;
}

.logo {
  height: 65vmin;
  margin-top: -20vmin;
  width: 65vw;
}

video {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .bobert {
    flex-direction: column;
    margin-top: 20rem;
  }
}
